html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f5f2f0;
  border: 2px;
}

main h1 {
  font-family: "Denk one";
  color: #623b0c;
  margin: 1.5rem;
  padding: 1rem;
}

main h2 {
  font-family: "Denk one";
  color: #623b0c;
  background-color: #ede3db;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol li {
  display: flex;
  flex-direction: column;
  border: 2px solid #623b0c;
  background-color: #ede3db;
  padding: .5em .75em .6em;
  border-radius: 8px;
}

ol li a {
  background-color: #623b0c;
  color: #fff;
  padding: .5em .75em .6em;
  border-radius: 8px;
}

p {
  justify-content: center;
}

img {
  width: 100%;
}
